
/* Unbold the leading package names */
dt sup {
    font-weight: normal;
    font-style: italic;
    opacity: 0.8;
    vertical-align: baseline;
    top: auto;
    font-size: medium;
}

dt {
    padding-bottom: 5px;
}

.rst-content dl dd {
    margin-bottom: 20px;
}

.rst-content .code-block-caption {
    text-align: right;
    margin-bottom: 4px;
}

.rst-content .code-block-caption .headerlink {
    display: none;
}

/* Simulate :maxdepth: 2 only for api-advanced */
.toctree-l2 > a[href^=api-advanced] + ul {
    display: none;
}




/* Start Custom */

body {
  letter-spacing: 0.04rem;
}

.wy-body-for-nav {
    background: white;
}

.rst-content .highlighted {
    background-color: #23E3EA;
    border: 3px solid #93ebff;
    border-radius: 10px;
    color: white;
    padding: 2px 10px 0;
}

#search-results .context {
    font-size: 100%;
    line-height: 30px;
}

.wy-nav-content {
    background: white;
    max-width: 960px;
}

.wy-nav-content-wrap {
    background: white;
    margin-left: 460px;
}

.wy-plain-list-disc, .rst-content .section ul, .rst-content .toctree-wrapper ul, article ul,
p {
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    /* font-family: 'Lato'; */
    font-family: 'Montserrat', sans-serif;
}


hr {
    border-color: #f0f0f0;
    margin: 40px auto;
    width: 66%;
}

.wy-nav-side,
.wy-menu-vertical {
    width: 460px;
}

.wy-nav-side {
    background-color: white;    
}

.wy-side-scroll {
    overflow-y: auto;
    width: 480px;
}

.wy-side-nav-search {
    background-color: white;
    color: #333;
    padding: 50px 30px;
    width: 460px;
}

.wy-side-nav-search input[type="text"] {
    border-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: none;
    font-size: 100%;
    letter-spacing: 1px;
    padding: 8px 12px 6px 12px;
}

.wy-side-nav-search input[type="text"]:hover,
.wy-side-nav-search input[type="text"]:active,
.wy-side-nav-search input[type="text"]:focus {
    border-color: #787878;
    box-shadow: 0 3px 5px rgba(100, 100, 100, 0.2);
}

.wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a {
    color: #333;
}


a {
    color: #4596e7;
}

a:visited {
    color: #65b6ff;
}

/* a:visited {
    color: #a536d7;
} */

a:hover {
    color: #2586ff;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #333;
    padding: 0 30px;
    margin-top: 30px;
}

.wy-menu-vertical a {
    color: #4596e7;
    font-size: 100%;
    padding: 8px 30px;
}

.wy-menu-vertical a:hover,
.wy-menu-vertical a:active {
    background: #f6f6f6;
    color: #4596e7;
}

.wy-menu-vertical li.current {
    background-color: #f3f3f3;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current > a {
    color: #4596e7;
}

.wy-menu-vertical li.toctree-l2.current > a {
    background-color: #f3f3f3;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
    background-color: #f0f0f0;
}

.wy-menu-vertical li.current a:hover,
.wy-menu-vertical li.toctree-l2.current > a:hover,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover {
    background-color: #e6e6e6;
}

.wy-menu-vertical li.current a {
    border: none;
}

.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a {
    color: #4596e7;
}

.wy-menu-vertical li.toctree-l1.current > a {
    border: none;
}


/*
    hides 'View Page Source' link
*/

.wy-breadcrumbs li a {
    padding: 5px 0;
}

.wy-breadcrumbs-aside {
    display: none;
}

.btn,
.btn-neutral {
    background-color: white !important;
    border-radius: 5px;
    border: 2px solid #f6f6f6;
    padding: 10px 20px;
}

.btn-neutral:hover,
.btn-neutral:active,
.btn-neutral:focus {
    background-color: #fafafa !important;
    box-shadow: 0px 2px 3px -2px rgba(255,255,255,0.8) inset,
                0px -3px 0px 0px rgba(0,0,0,0.2) inset;
}

.rst-content pre.literal-block,
.rst-content div[class^="highlight"] pre,
.rst-content .linenodiv pre {
    font-size: 100%;
}

.wy-side-nav-search > a img.logo,
.wy-side-nav-search .wy-dropdown > a img.logo {
    max-width: 50%;
}

.icon-home:before {
    display: none;
}

.wy-side-nav-search > div.version {
    color: #a0b4b4;
}





@media screen and (max-width: 960px) {
 .wy-body-for-nav {
  background: white;
 }
 .wy-nav-top {
  background: white;
  box-shadow: 0px 2px 3px  rgba(100,100,100,0.1);
  display: block;
  padding: 10px 24px 8px 24px;
  position: fixed;
  width: 100%;
 }
 .wy-nav-top .fa.fa-bars {
     color: #4596e7;
 }
 .wy-nav-top a,
 .wy-nav-top a:hover {
     color: #4596e7;
 }
 .wy-nav-side {
  left:-460px;
  transition: 100ms all ease-in-out;
 }
 .wy-nav-side.shift {
  width:75%;
  left:0
 }
 .wy-side-scroll {
  width:auto !important;
 }
 .wy-side-nav-search {
  width:auto !important;
 }
 .wy-menu.wy-menu-vertical {
  width:auto !important;
 }
 
 .wy-nav-content-wrap {
  margin-left: 0;
  transition: 100ms all ease-in-out;
 }
 .wy-nav-content-wrap .wy-nav-content {
  padding:1.618em
 }
 .wy-nav-content-wrap {
  position:fixed;
  min-width:100%;
  left:0%;
  top:0;
  height:100%;
  overflow: auto;
  width: 100%;
 }
 .wy-nav-content-wrap.shift {
  position:fixed;
  min-width:100%;
  left:75%;
  top:0;
  height:100%;
  overflow:hidden
 }


  .rst-content pre.literal-block,
  .rst-content div[class^="highlight"] pre,
  .rst-content .linenodiv pre {
    font-size: 70%;
  }
}























.highlight .s1 {
  color: #70a0ff;
}

.highlight .nt {
    color: #7b93c8;
}

.highlight code, .highlight pre {
color:#fddec3;
background-color: #1f223c;
}

.highlight .hll {
background-color:#222;
}

.highlight .err {
color:#e37170;
background-color:#3d3535;
}

.highlight .k {
color:#f0dfaf;
}

.highlight .p {
color:#41706f;
}

.highlight .cs {
color:#cd0000;
font-weight:700;
}

.highlight .gd {
color:#cd0000;
}

.highlight .ge {
color:#ccc;
font-style:italic;
}

.highlight .gr {
color:red;
}

.highlight .go {
color:gray;
}

.highlight .gs {
color:#ccc;
font-weight:700;
}

.highlight .gu {
color:purple;
font-weight:700;
}

.highlight .gt {
color:#0040D0;
}

.highlight .kc {
color:#dca3a3;
}

.highlight .kd {
color:#ffff86;
}

.highlight .kn {
color:#dfaf8f;
font-weight:700;
}

.highlight .kp {
color:#cdcf99;
}

.highlight .kr {
color:#cdcd00;
}

.highlight .ni {
color:#c28182;
}

.highlight .ne {
color:#c3bf9f;
font-weight:700;
}

.highlight .nn {
color:#8fbede;
}

.highlight .vi {
color:#ffffc7;
}

.highlight .c,.preview-zenburn .highlight .g,.preview-zenburn .highlight .cm,.preview-zenburn .highlight .cp,.preview-zenburn .highlight .c1 {
color:#7f9f7f;
}

.highlight .l,.preview-zenburn .highlight .x,.preview-zenburn .highlight .no,.preview-zenburn .highlight .nd,.preview-zenburn .highlight .nl,.preview-zenburn .highlight .nx,.preview-zenburn .highlight .py,.preview-zenburn .highlight .w {
color:#ccc;
}

.highlight .n,.preview-zenburn .highlight .nv,.preview-zenburn .highlight .vg {
color:#dcdccc;
}

.highlight .o,.preview-zenburn .highlight .ow {
color:#f0efd0;
}

.highlight .gh,.preview-zenburn .highlight .gp {
color:#dcdccc;
font-weight:700;
}

.highlight .gi,.preview-zenburn .highlight .kt {
color:#00cd00;
}

.highlight .ld,.preview-zenburn .highlight .s,.preview-zenburn .highlight .sb,.preview-zenburn .highlight .sc,.preview-zenburn .highlight .sd,.preview-zenburn .highlight .s2,.preview-zenburn .highlight .se,.preview-zenburn .highlight .sh,.preview-zenburn .highlight .si,.preview-zenburn .highlight .sx,.preview-zenburn .highlight .sr,.preview-zenburn .highlight .s1,.preview-zenburn .highlight .ss {
color:#cc9393;
}

.highlight .m,.preview-zenburn .highlight .mf,.preview-zenburn .highlight .mh,.preview-zenburn .highlight .mi,.preview-zenburn .highlight .mo,.preview-zenburn .highlight .il {
color:#8cd0d3;
}

.highlight .na,.preview-zenburn .highlight .nt {
color:#9ac39f;
}

.highlight .nb,.preview-zenburn .highlight .nc,.preview-zenburn .highlight .nf,.preview-zenburn .highlight .bp,.preview-zenburn .highlight .vc {
color:#efef8f;
}




